@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-blue: #00101f;
  --theme-red: #AD001D;
  --blue-transparent: #00101fa3;
  --card-blue: #041e35;
  --bg: #0D151E;
}

.active {
  position: relative;
  transition: all 0.3s;
}

.active::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  animation: activeUnderline 0.3s ease;
  background-color: var(--theme-red);
}

.floatingAction {
  @apply w-[3.5rem] h-[3.5rem] rounded-[50%] cursor-pointer border-[2px] text-slate-200 duration-300;

}

.bottomFade {
  background: rgb(0, 16, 31);
  background: linear-gradient(180deg, var(--theme-blue) 0%, var(--bg) 100%);
}

.floatingAction:hover {
  animation: shake 0.5s infinite;
}

@keyframes activeUnderline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.card {
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .7s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}


@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}