@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-blue: #00101F;
  --theme-red: #AD001D;
}

.active {
  position: relative;
  transition: all 0.3s;
}

.active::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  animation: activeUnderline 0.3s ease;
  background-color: var(--theme-red);
}

@keyframes activeUnderline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}